*{
  margin: 0;
  padding: 0;
  color: white;
  background: rgb(36, 30, 30);
}
  
  .App {
  text-align: center;
  
  
}
h1{
  margin-top: 20px;
  color: rgb(207, 181, 29);
}
h2{
  margin: 20px;
}

.container{
  padding: 5px;
  margin: 40px;
  height: 100vh;
  
}
.container .contactDetails{
  display: flex;
  justify-content: space-between
}

.container span{
  display: block;
}

.container label{
  margin-right: 8px;
}

.container input{
  margin-bottom: 8px;
  width: 50%;
  color: black;
  background: white;
  height: 30px;
  border-radius: 4px;
}

.container input::placeholder{
 text-align: center;
 letter-spacing: .2em;
}

.container button{
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  color: white;
  background: rgb(25, 25, 167);
  border-radius: 5px;
  padding: 3px 6px;
}



.container .contactDetails{
  margin: 1px;
  background: rgb(43, 43, 44);
  padding: 20px;
  border-radius: 5px;

}
 
img{
  margin: 0;
}

.container .del-icon{
  margin: 15px;
  
}